bg-light {
    background-color: #efeff1;
}

bg-lightblue {
    background-color: #0488cc;
}

bg-darkblue {
    background-color: #066d9d;
}

bg-lightgreen {
    background-color: #5ffb72;
}

text-light {
    background-color: #efeff1;
}

text-lightblue {
    background-color: #0488cc;
}

text-darkblue {
    background-color: #066d9d;
}

text-lightgreen {
    background-color: #5ffb72;
}