.bg-eggshell {
    background-color: #efeff1 !important;
}

.bg-lightblue {
    background-color: #0488cc;
}

.bg-darkblue {
    background-color: #066d9d !important;
}

.bg-lightgreen {
    background-color: #5ffb72;
}

.text-eggshell {
    color: #efeff1;
}

.text-lightblue {
    color: #0488cc;
}

.text-darkblue {
    color: #066d9d;
}

.text-lightgreen {
    color: #5ffb72;
}