.bg-eggshell {
    background-color: #efeff1 !important;
}

.bg-lightblue {
    background-color: #0488cc !important;
}

.bg-darkblue {
    background-color: #066d9d !important;
}

.bg-lightgreen {
    background-color: #5ffb72 !important;
}

.text-eggshell {
    color: #efeff1 !important;
}

.text-lightblue {
    color: #0488cc !important;
}

.text-darkblue {
    color: #066d9d !important;
}

.text-lightgreen {
    color: #5ffb72 !important;
}

@media (min-width: 767.98px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .expanded-only {
        display: none !important;
    }
}
